.container {
  width: 100vw;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1478916813757-c14a1ce81e3e?auto=format&fit=crop&w=2767&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D') no-repeat center center fixed;
  background-size: cover;
}
#logo{
  max-width: 250px;
  z-index: 13;
  position: relative;
}

.form-container {
  position: relative;
  padding: 50px 40px;
}

form {
  display: block;
  position: absolute;
  align-items: center;
  top: 17%;
  right: 30%;
}

.form-container-in {
  position: absolute;
  background-color: #F5F5F5;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  opacity: 0.9;
}
.log-container {
   text-align: center;
}
.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}
p.lead {
  padding: 15px 10px;
  position: relative;
  z-index: 10;
}

.row.full {
  width: 100%;
}
.left-divider {
  border-left: solid 1px #78909C;
  padding-left: 20px;
}
.lead-text {
  text-align: center;
  padding: 10px;
  font-weight: 300;
  font-size: 1.8em;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* social */
#social-media {
  position:relative;
  top:100px;
  top:25vh;
  font-size:1rem;
  text-align:center;
  overflow:hidden;
}

.btnn {
  width:100%;
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden;
  padding: 30px;
}

.btnn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.45);
}

.btnn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btnn > span,.btnn-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btnn > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#000
}

.btnn:hover > span {
  color:#212121;
  font-weight:900;
}

.btnn:focus > span {
  background:#9a9a9a
}

.btnn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:20px;
  text-align:center;
  font-size:1.25em;
  color:#fff;
  background:#212121
}

.btnn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}

.btnn-icon:hover > i,.btnn-icon:focus > i {
  color:#FFF;
}

.form{
  max-width: 600px;
  margin: auto;
}

.btnn-icon > span {
  border-radius:0 5px 5px 0
}

.btnn-facebook:hover > i,.btnn-facebook:focus > i {
  color:#3b5998;
  width:50%;
}

.btnn-facebook > span {
  background:#3b5998;
  width:50%;
}


.btnn-google:hover > i,.btnn-google:focus > i {
  color:#d34836;
  width:50%;
}

.btnn-google > span {
  background:#d34836;
  width:50%;
}
.media-container {
  padding: 5px 20px;
}

input.form-submit {
  padding: 12px 40px;
  font-weight: 300;
  text-transform: capitalize;
background-color: #7F56D9;
border: none;
  outline: none;
  font-size: 1.5rem
}

.form-submit:hover{
  filter: brightness(110%);
  background: #7F56D9;
}
