
.container {
    width: 100vw;
    height: 100vh;
  }
  #logo{
    max-width: 250px;
    z-index: 13;
    position: relative;
  }
  
  .form-container {
    position: relative;
    padding: 50px 40px;
  }
  
  .form-container-in {
    position: absolute;
    background-color: #F5F5F5;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    opacity: 0.9;
  }
  .log-container {
     text-align: center;
  }
  .flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center;
  }
  p.lead {
    padding: 15px 10px;
    position: relative;
    z-index: 10;
  }
  
  .row.full {
    width: 100%;
  }
  .left-divider {
    border-left: solid 1px #9c7897;
    padding-left: 20px;
  }
  .lead-text {
    text-align: center;
    padding: 10px;
    font-weight: 300;
    font-size: 1.8em;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  /* social */
  #social-media {
    position:relative;
    top:100px;
    top:25vh;
    font-size:1rem;
    text-align:center;
    overflow:hidden;
  }
  
  .btnn {
    width:100%;
    clear:both;
    white-space:nowrap;
    font-size:.8em;
    display:block;
    border-radius:5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
    margin:2px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    overflow:hidden
  }
  
  .btnn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.45);
  }
  
  .btnn:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
  }
  
  .btnn > span,.btnn-icon > i {
    float:left;
    padding:13px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    line-height:1em
  }
  
  .btnn > span {
    padding:14px 18px 16px;
    white-space:nowrap;
    color:#FFF;
    background:#000
  }
  
  .btnn:hover > span {
    color:#212121;
    font-weight:900;
  }
  
  .btnn:focus > span {
    background:#9a9a9a
  }
  
  .btnn-icon > i {
    border-radius:5px 0 0 5px;
    position:relative;
    width:20px;
    text-align:center;
    font-size:1.25em;
    color:#fff;
    background:#212121
  }
  
  .btnn-icon > i:after {
    content:"";
    border:8px solid;
    border-color:transparent transparent transparent #222;
    position:absolute;
    top:13px;
    right:-15px
  }
  
  .btnn-icon:hover > i,.btnn-icon:focus > i {
    color:#FFF;
  }
  
  .form{
    max-width: 600px;
    margin: auto;
  }
  
  .btnn-icon > span {
    border-radius:0 5px 5px 0
  }
  
  .btnn-google > span {
    background:#d34836;
    width:50%;
  }
  .media-container {
    padding: 5px 20px;
  }
  
  input.form-submit {
    padding: 12px 20px;
    font-weight: 300;
    text-transform: capitalize;
  background-color: #7F56D9;
  border: none;
    outline: none;
    font-size: 1.5rem
  }
  
  .form-submit:hover{
    filter: brightness(110%);
    background: #7F56D9;
  }


  @import url('https://fonts.googleapis.com/css?family=Inter');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  /* https://subtlepatterns.com/weave/ */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #000000;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: #7F56D9;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: rgb(228, 142, 245);
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}