* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    color: var(--color);
    display: grid;
    min-height: 100dvh;
    grid-template-columns: 350px 1fr;
}

.menu {
    min-width: 350px;
    border-right: solid 1px rgb(75 0 250 / 10%);
    padding: 32px;
    /* display: flex; */
    /* flex-direction: column; */
    gap: 16px;
    position: fixed;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;

    max-height: 100dvh;
    height: 100dvh;

}

.menu__divider {
    max-height: 0;
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--ultra-light-color);
}

.menu__title {
    color: var(--light-color);
    font-weight: var(--semi);
    font-size: .9rem;
}


.menu__nav {
    display: flex;
    /* border: solid 1px red; */
    flex-direction: column;
    gap: 8px;
    font-size: 1rem;
    max-height: 100%;
    overflow: auto;
}

.menu__nav::-webkit-scrollbar {
    width:10px;
}

.menu__nav::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--ultra-darker-bg);
}

.menu__link {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: var(--semi);
    padding: 12px 16px;
    border-radius: 6px;
    transition: background-color .2s ease;
}

.menu__link:hover {
    background-color: var(--semi-darker-bg);

}

.menu__icons {
    width: 16px;
    font-size: 1.2rem;
}

.menu__profile {
    display: flex;
    gap: 12px;
    align-items: center;
}

.menu__avatar {
    width: 48px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.menu__user-data {
    display: flex;
    flex-direction: column;
}

.menu__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 0 0;
    border-top: solid 1px var(--ultra-light-color);
}

.menu__username {
    font-weight: var(--bold);
}

.menu__email {
    font-size: .9rem;
    font-weight: var(--semi);
    color: var(--light-color);
}

.menu__close-session {
    margin: 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--darker-bg);
    padding: 12px 0;
    border-radius: 4px;
    font-weight: var(--semi);
    transition: filter .2s ease;
    cursor: pointer;
}

.menu__close-session:hover {
    filter: brightness(95%);
}


.main{
    animation: fade-in .5s ease;
}

@keyframes fade-in{
    from{
        opacity: 0;
        transform: translateY(16px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}