

.main{
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header-text{
    display: flex;
    align-items: center;
    gap: 16px;
}


.main__link{
    background-color: var(--main);
    display: flex;
    align-items: center;
    user-select: none;
    transition: filter .2s ease;
    gap: 8px;
    color: var(--bg);
    padding: 12px 24px;
    border-radius: 100px;
    cursor: pointer;

    &:hover{
        filter: brightness(90%);
    }
}


.main__tablet{
    font-weight: var(--bold);
    color: var(--main);
    padding: 4px 8px;
    position: relative;
}

.main__tablet::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--main);
    opacity: .2;
    border-radius: 100px;
}


.main__label{
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--semi-darker-bg);
    color: var(--light-color);
}

.main__input{
    color: var(--color);
    width: 100%;
    font-weight: var(--medium);
}

.main__input::placeholder{
    color: var(--light-color);
    font-weight: var(--regular);
}


.table{
    display: flex;
    flex-direction: column;
    margin: 8px 0 0;
}

.table__row{
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    border-bottom: solid 1px var(--darker-bg);
}

.table__row:first-child{
    background-color: var(--semi-darker-bg);
    border-radius: 8px 8px 0 0;
}

.table__row:first-child .table__cell{
    padding: 16px 24px;
    color: var(--light-color);
    font-weight: var(--semi);
}

.table__cell{
    padding: 20px 24px;
}

.table__row:not(:first-child) {
    color: var(--light-color); 
}

.table__row:not(:first-child) .table__cell:first-child {
    color: var(--color);
    font-weight: var(--medium); 
}

.table__cell--actions{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.table__tablet{
    --main-color: #175CD3;
    display: inline-block;
    position: relative;
    padding: 0 12px;
    color: var(--main-color);
    font-weight: var(--medium);
}

.table__tablet::before{
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 8px);
    border-radius: 100px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    background-color: var(--main-color);
    padding: 8px;
    opacity: .2;
}

.table__tablet--disabled{
    --main-color: #FF2828;
}

.table__action-icon{
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
}

.table__action-icon > *{
    position: relative;
    z-index: 1;
}

.table__action-icon::before{
    content: "";
    position: absolute;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    background-color: var(--light-color);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    aspect-ratio: 1;
    border-radius: 100%;
    opacity: 0;
    transition: opacity .2s ease;
}

.table__action-icon:hover::before{
    opacity: .2;
}
