
.main {
    display: grid;
    place-content: center;
    padding: 15dvh 0;
    min-height: 100dvh;
}

.form__subheader,
.form__title {
    text-align: center;
}

.form__subheader {
    color: var(--main);
    font-weight: var(--medium);
    font-size: 1.2rem;
}

.form__title {
    margin: 0 0 24px;
    font-size: 2.5rem;
}

.form__label {
    margin: 24px 0 0;
    font-weight: var(--medium);
}


.form__input {
    border-radius: 8px;
    padding: 12px 16px;
    width: 100%;
    font-weight: var(--medium);
    line-height: 0;
    border: solid 1px var(--ultra-light-color);
    box-shadow: 0 0 10px -8px var(--color);
}

.form__input::placeholder {
    font-weight: var(--regular);
}

.form__input-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
    margin: 0 auto;
}









.form__switch {
    --secondary-container: var(--main);
    --primary: var(--bg);
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.3em;
    height: 1.8em;
}

.form__switch .form__checkbox {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.form__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ultra-darker-bg);
    transition: .2s;
    border-radius: 30px;
}

.form__slider::before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: var(--bg);
    transform: translateX(.1em);
    transition: transform .3s ease;
}

.form__checkbox:checked+.form__slider::before {
    background-color: var(--primary);
}

.form__checkbox:checked+.form__slider {
    background-color: var(--secondary-container);
}

.form__checkbox:focus+.form__slider {
    box-shadow: 0 0 1px var(--secondary-container);
}

.form__checkbox:checked+.form__slider:before {
    transform: translateX(1.4em);
}

.form__input--submit{
    border: none;
    padding: 24px;
    color: var(--bg);
    margin: 24px 0 0;
    font-weight: var(--semi);
    background-color: var(--lighter-main);
    transition: filter .2s ease;
    cursor: pointer;

}

.form__input--submit:hover{
    filter: brightness(90%);
}


.form__toggles-list{
    display: grid;
    gap: 24px;
}

.form__toggles-box{
    display: grid;
    grid-template-columns: 55px 1fr;
    gap: 24px;
}

.form__switch-name{
    font-weight: var(--medium);
    margin: 0 0 4px;
}

.form__switch-description{
    font-size: .9rem;
    font-weight: var(--semi);
    color: var(--light-color);
}