@import url('https://fonts.googleapis.com/css?family=Inter');

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

input,
textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

strong,
b {
  font-weight: bold;
}

img {
  border: 0;
  max-width: 100%;
}


tr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}


/** page structure **/
#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
}


#keywords thead {

  background-color: var(--semi-darker-bg);
  border-radius: 8px 8px 0 0;

}

th {
  font-weight: bold;
  padding: 16px 24px;
  text-align: left;
}

tr{
  border-bottom: solid 1px var(--darker-bg);
}

td{
  padding: 20px 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

td:last-child{
  display: flex;
  gap: 4px;
}